
img{
    max-width: 100%;
    height: auto;
}

.example-card {
    max-width: 600px;
    border: black solid;
    margin: 10px;
}
  
  
  .example-header-image img {
    width: 85px;
    height: 40px;
  }
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.buttons:first-child {
  display: block;
} 

.buttons {
  display: flex;
  align-items: center;
}

.buttons h4 {
  margin: 0 0 0;
}

.socials {
  display: flex;
  justify-content: space-between;
}