
img{
    max-width: 100%;
    height: auto;
}

.example-card {
    max-width: 600px;
    border: black solid;
    margin: 10px;
}
  
  
  .example-header-image img {
    width: 75px;
    height: 45px;
  }
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}